
services:
  web:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DATABASE_URL=postgres://postgres:postgres@db:5432/mydb
    depends_on:
      - db
    command: >
      sh -c "
      echo 'Waiting for Postgres...' &&
      until nc -z db 5432; do
        sleep 1
      done &&
      echo 'Postgres is up!' &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py runserver 0.0.0.0:8000
      "

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: sources
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data/
volumes:
  postgres_data:
